MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=symfony
MYSQL_USER=admin
MYSQL_PASSWORD=root
PROJECT_NAME=symfony-app
MYSQL_HOST=mysql

PHPMYADMIN_CONTAINER_PORT=8120

CURRENT_USER=
CURRENT_USER_ID=
CURRENT_USER_GROUP=
CURRENT_USER_GROUP_ID=

APACHE_CONTAINER_NAME=httpd
NODE_CONTAINER_NAME=node

SITE_APP_DIR="/var/www/html"
SITE_DOMAIN=
SITEURL=http://

DATABASE_URL=DATABASE_URL="mysql://db_user:db_password@127.0.0.1:3306/db_name?serverVersion=5.7"
DATABASE_DEFAULT=DATABASE_URL="postgresql://symfony:ChangeMe@127.0.0.1:5432/app?serverVersion=13&charset=utf8"